@import url(https://fonts.googleapis.com/css?family=Gilda+Display);
* {box-sizing:border-box;}

body {
    background-color: rgb(201,189,177);
    font-family: "Gilda Display";
    color: white;
    overflow-x: hidden;
    background-image:url(./images/arches.png);
}  

p {
    font-weight: bold;
}

#my-homepage {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
h2 {
    text-align: center;
    font-size: 20px;
}
#my-rotate {
    transform-origin: center right;
    transform: rotate(90deg);
    position: absolute;
    right: 30px;
    bottom: -180px;
    font-size: 50px;
    border-bottom: 2px solid white;

}
.my-photo {
    display: block;
    width: 500px;
    text-align: center;
    margin: 40px auto;
    border: 10px solid white;
    max-height: 400px;
}

.Containers {
    flex-shrink: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

button.back, button.next {
    cursor: pointer;
}
#buttons{
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

p.my-about {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}
#my-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#my-nav li {
    display: inline-block;
    border: 2px solid white;
    justify-content: space-between;
}
#my-nav li a{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}
#my-nav li a:hover {
    background-color: rgb(158, 148, 138);
    border: none;
}
#my-rotate-opposite {
    transform-origin: center right;
    transform: rotate(-90deg);
    position: absolute;
    left: -160px;
    bottom: -560px;
    font-size: 50px;
    border-bottom: 2px solid white;

}
#my-rotate-lower {
    transform-origin: center right;
    transform: rotate(90deg);
    position: absolute;
    right: 30px;
    bottom: -1535px;
    font-size: 50px;
    border-bottom: 2px solid white;
}
#my-projects {
    min-height: 500px;
    margin: 0 auto; 
    width: 400px;
}
#my-contact {
    min-height: 500px;
}
#my-projects p {
    margin-top: 70px;
    text-align: center;
}
#my-projects img {
    border: none;
    width: 100%;
    text-align: center;
    margin: 15px auto;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
#my-footer {
    text-align: center;
    margin: 50px;
}
div#my-contact{
    text-align: center;
    border-bottom: 2px solid white;
}
div#my-icons{
    margin-top: 30px;
}
div#my-icons a{
    color: rgb(128, 0, 128);
}
div#my-icons a:hover{
    color: rgb(218, 7, 218);
}
div.card{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}
